body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #80d3e7, #ffffff);
    margin: 0;
    padding: 0;
}

.logo-onpe {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.logo-onpe img {
    width: 100px;
    padding: 15px;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 12px;
}

header {
    position: relative;
    text-align: center;
    padding: 30px;
    background: white;
    border-bottom: 5px solid #d71920;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("img/Condor.png") center/40% no-repeat;
    opacity: 0.25;
    pointer-events: none;
}

header h1 {
    color: #3d85d8;
    margin-bottom: 5px;
}
header h1,
header p {
    position: relative;
    z-index: 1;
}

.subtitulo {
    font-size: 14px;
    color: #666;
}

.seccion {
    font-weight: bold;
    color: #0b3c74;
}

#datosVotante {
    font-weight: bold;
    color: #333;
}

main {
    width: 95%;
    max-width: 1200px;
    margin: 25px auto;
}

.contenedor-candidatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.candidato {
    display: grid;
    grid-template-columns: 55px 1fr 65px 35px;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.10);
    transition: all 0.2s ease;
}

.candidato:hover {
    border-color: #0b3c74;
    transform: scale(1.02);
}

.candidato.seleccionado {
    border: 2px solid #0b3c74;
    background: #eef4fb;
}

.logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.foto {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 8px;
}

.info h3 {
    margin: 0;
    font-size: 13px;
    color: #3d85d8;
}

.info p {
    margin: 3px 0;
    font-size: 12px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #0b3c74;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #072a52;
}

#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.voto-blanco {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 900px) {
    .contenedor-candidatos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contenedor-candidatos {
        grid-template-columns: 1fr;
    }
}