body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #80d3e7, #ffffff);
    margin: 0;
}

.logo-onpe {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-onpe img {
    width: 100px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 12px;
}

header {
    text-align: center;
    padding: 25px;
    background: white;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

header h1 {
    color: #3d85d8;
}

#datosVotante {
    font-weight: bold;
    color: #333;
}

main {
    width: 95%;
    max-width: 1200px;
    margin: 25px auto;
}

.parlamento {
    background: #f3e7c3; /* beige tipo ONPE */
    border: 2px solid #d4c08a;
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.parlamento h2 {
    color: #8a6d1d;
    text-align: center;
}

.indicacion {
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.contenedor-opciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.opcion {
    display: grid;
    grid-template-columns: 55px 1fr 40px;
    align-items: center;
    background: white;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.opcion:hover {
    border-color: #65ceee;
}

.opcion.seleccionado {
    border-color: #8a6d1d;
    background: #fff4cc;
}

.logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.info h3 {
    margin: 0;
    font-size: 13px;
    color: #8a6d1d;
}

.preferencial {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.preferencial input {
    width: 45px;
    padding: 4px;
    text-align: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

.voto-blanco {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 65px;
    font-size: 17px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #d4b24c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #b89a3d;
}

#mensaje {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

@media (max-width: 900px) {
    .contenedor-opciones {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contenedor-opciones {
        grid-template-columns: 1fr;
    }
}